@page "/exhibit/{exhibitsId}"
@inject UserService UserService
@inject ExhibitService ExhibitService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<div id="column" class="column2">
    @if (user == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <h3>@exhibit.Name</h3>
        <h3>商品の説明</h3>
        <p>@exhibit.Description</p>
        <h3>商品の写真</h3>
        <ul>
            <li>
                <img src="@GetImage()" />
            </li>
        </ul>
        <h3>商品の価格</h3>
        <p>&yen;@exhibit.Price</p>
        <br>
        <h3>連絡先</h3>
        <ul>
            <li>
                <img src=@user.Contact alt="Contact"/>
            </li>
        </ul>
    }
</div>

@code {
    private User user;
    private Exhibit exhibit;

    [Parameter]
    public string exhibitsId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var id = int.Parse(exhibitsId);
        try
        {
            exhibit = (await ExhibitService.GetExhibitAsync()).First(q => q.Id == id);
            user = (await UserService.GetUserAsync()).First(q => q.Id == exhibit.ExhibitorsId);
        }
        catch (InvalidOperationException e)
        {
            await JSRuntime.InvokeVoidAsync("alert", "Invalid URL.");
            NavigationManager.NavigateTo("/", true);
        }
    }

    private string GetImage()
    {
        if (exhibit.Image != null)
        {
            return $"data:image/jpeg;base64,{ Convert.ToBase64String(exhibit.Image) }";
        }
        else
        {
            // No image
            return "https://oki-sitelabo.com/wp-content/themes/oki-workshop/demo/20200603/img/noimage.jpg";
        }
    }
}
