@page "/"
@inject ExhibitService ExhibitService

<PageTitle>Index</PageTitle>

<div id="column" class="column5">
    <div class="wrapper">
        <div class="search-area">
            <form>
                <input type="text" id="search-text" placeholder="何をお探しですか？" />
            </form>
            <div class="search-result">
                <!-- 検索結果の表示 -->
            </div>
        </div>
    </div>
    <h3>おすすめ商品</h3>
    @if (exhibits == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <ul>
            @foreach (var exhibit in exhibits!)
            {
                <li>
                    <NavLink class="exhibit-item" href=@($"exhibit/{exhibit.Id}")>
                        <img src="@GetImage(exhibit)"/>
                        <p>@exhibit.Name</p>
                    </NavLink>
                </li>
            }
        </ul>
    }
</div>

@code {
    private List<Exhibit>? exhibits;

    protected override async Task OnInitializedAsync()
    {
        exhibits = await ExhibitService.GetExhibitAsync();
    }

    private string GetImage(Exhibit exhibit)
    {
        if (exhibit.Image != null)
        {
            return $"data:image/jpeg;base64,{ Convert.ToBase64String(exhibit.Image) }";
        }
        else
        {
            // No image
            return "https://oki-sitelabo.com/wp-content/themes/oki-workshop/demo/20200603/img/noimage.jpg";
        }
    }
}
