@inherits LayoutComponentBase

<PageTitle>TCU_FleaMarket</PageTitle>

<header>
    <h1 id="title">
        <NavLink href="">都市大フリマ</NavLink>
    </h1>

    <nav id="menubar">
        <ul>
            <li>
                <NavLink href="">Home</NavLink>
            </li>
            <li>
                <NavLink href="post">Post</NavLink>
            </li>
            <li>
                <NavLink href="mypage">MyPage</NavLink>
            </li>
        </ul>
    </nav>
    <hr />
</header>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
